/* biue: #1500ff
red: #FF0000
grey: #DCDCDC
yellow: #dafc1c */


/* <link href=“https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans%7CRoboto” rel=“stylesheet”>
font-family: ‘Roboto’, sans-serif;
font-family: ‘Montserrat’, sans-serif;
font-family: ‘Open Sans’, sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:600|Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Monoton|Orbitron:700');

html {
  background-color: #1500ff;
  color: white;
}

.login {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 4.7em 12em;
  font-family: ‘Roboto’, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: ‘Montserrat’, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7em;
  margin-bottom: 0.2em;
}

.input-login {
  border: none;
  appearance: none;
  width: 50%;
  margin: 0.7em 0;
  font-size: 2em;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  border-bottom: 1px solid white;
}

.input-login:focus, .input-reg:focus, {
  outline: none;
}

::placeholder {
  color: white;
  font-family: ‘Open Sans’, sans-serif;
}

.button-login {
  width: 50%;
  margin: 1.5em 0 0.7em 0em;
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  background-color: #1500ff;
  border-radius: 0.2em;
}

.button-login:hover{
  background-color: white;
  color: #1500ff;
}


.new-user {
  margin: 1.2em 0;
  font-size: 1.5em;
  color: white;
}

.new-user:hover{
  color: lightgrey;
}

.reg-page {
  margin: 1em 6.7em;
}

.register-top{
  margin-top: 0.4em;
  margin-bottom: 0.1em;
  font-size: 6em;
}

.reg-whole {
  display: flex;
  justify-content: space-between;
  height: 33em;
}

.register-form{
  border: 1px solid #DCDCDC;
  width: 900%;
  margin-top: 0.6em;
}

.register {
  display: flex;
  justify-content: space-between;
}

label{
  font-size: 2em;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  padding: 1.6em 0em 0em 2em;
}

.input-reg{
  border: none;
  appearance: none;
  width: 60%;
  margin: 1em 2em 0.7em 1em;
  font-size: 2em;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  border-bottom: 1px solid white;
  padding-top: 0.4em;
}

.button-reg{
  width: 50%;
  margin: 2.4em 0 1.6em 3.7em;
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  background-color: #1500ff;
  border-radius: 0.2em;
}

.button-reg:hover{
  background-color: #dafc1c;
  color: black;
}

.hey{
  font-family: ‘Montserrat’, sans-serif;
  margin: -2.5rem 1rem;
  font-size: 15em;
  color: #dafc1c;
}

.letter{
  margin: -5rem 0em;
}

h2 {
    font-family: ‘Montserrat’, sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
}

nav {
  margin-left: 7%;
  margin-top: 3%;
  margin-bottom: 1%;
  display: flex;
}

.links {
  margin-left: 50%;
  margin-top: 2%;
}

a {
  text-decoration: none;
  color: #DCDCDC;
  font-family: 'open sans';
}

a:hover {
  color: grey;
}

.jobsLink {
padding: 50px;
}

.logout {
  border: none;
  appearance: none;
  font-family: 'open sans';
  margin-left: 35px;
  font-size: 16px;
  color: #DCDCDC;
  background-color: #1500ff;
}

.input-login:focus{
  outline: none;
}

.userHeader{
  display: flex;
}

.profileImg {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-left: 50%;
  margin-top: auto 0;
  border: 1px solid #DCDCDC;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p {
  display: block;
  font-size: 14px;
  font-family: 'open sans';
  margin-top: 8%;
  margin-left: 3%;
  text-align: center;

}


.actlImg {
  border: 1px solid #DCDCDC;
  display: block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: -26%;
  display: none;
}

.job-page{
  display: flex;
  flex-direction: column;
}

.jobshow-block{
  display: flex;
}

.search-page{
  display: flex;
  border: 1px solid white;
  height: 5em;
}

.search-filters{
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-left:2em;
}

.button-filters{
  display: flex;
  flex-direction: column;
  margin-right: 3em;
  width: 20%;
  justify-content: center;
}

.select-filters{
  width: 100%;
  margin: 0em 0.2em;
  height: 60%;
  align-self: center;
  font-family: ‘Open Sans’, sans-serif;
  font-size: 16px;
  background-color: #1500ff;
  border: 1px solid white;
  color: white;
}

.select-filters:hover{
  background-color: #dafc1c;
  color: black;
}

.salary-filter{
  border: none;
  appearance: none;
  width: 100%;
  margin: 0em 0.5em 0em 0.2em;
  height: 55%;
  align-self: center;
  font-family: ‘Open Sans’, sans-serif;
  font-size: 16px;
  background-color: #1500ff;
  border: 1px solid white;
  color: white;
  border-radius: 0.3em;
}

.click-filters {
  margin: 0.2em 0em;
  height: 2em;
  border-radius: 0.2em;
  color: #1500ff;
}

.click-filters:hover, .salary-filter:hover{
  background-color: #dafc1c;
  color: black;
}

.salary-filter:hover::placeholder{
  color: black;
}

.salary-filter:focus{
  background-color: #dafc1c;
  color: black;
}

.jobs-list{
  border-right: 1px solid white;
  width: 30%
}

.jobs-or-company{
  width: 70%
}

.job-results{
  border-bottom: 1px solid white;
  height:100%;
  height: 8em;
  padding: 2em 2em;
}

.job-results:hover{
  background-color: #dafc1c;
  color: black;
}

h5{
  margin: 0px auto;
  font-family: ‘Montserrat’, sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

h6{
  margin: 0px auto;
  font-family: ‘Roboto’, sans-serif;
  font-size: 1.4em;
  margin-top: 0.3em;
}
