/* biue: #1500ff
red: #FF0000
grey: #DCDCDC
yellow: #dafc1c */


/* <link href=“https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans%7CRoboto” rel=“stylesheet”>
font-family: ‘Roboto’, sans-serif;
font-family: ‘Montserrat’, sans-serif;
font-family: ‘Open Sans’, sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:600|Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Monoton|Orbitron:700');


html {
  background-color: #1500ff;
  color: white;
}

.login {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 4.7em 12em;
  font-family: ‘Roboto’, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: ‘Montserrat’, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7em;
  margin-bottom: 0.2em;
}

.input-login {
  border: none;
  appearance: none;
  width: 50%;
  margin: 0.7em 0;
  font-size: 2em;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  border-bottom: 1px solid white;
}

.input-login:focus {
  outline: none;
  appearance: none;
}

::placeholder {
  color: white;
  font-family: ‘Open Sans’, sans-serif;
}

.button-login {
  width: 50%;
  margin: 1.5em 0 0.7em 0em;
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  background-color: #1500ff;
  border-radius: 0.2em;
}

.button-login:hover{
  background-color: white;
  color: #1500ff;
}


.new-user {
  margin: 1.2em 0;
  font-size: 1.5em;
  color: white;
}

.new-user:hover{
  color: lightgrey;
}

.reg-page {
  margin: 1em 6.7em;
}

.register-top{
  margin-top: 0.4em;
  margin-bottom: 0.1em;
  font-size: 6em;
}

.reg-whole {
  display: flex;
  justify-content: space-between;
  height: 33em;
}

.register-form{
  border: 1px solid #DCDCDC;
  width: 900%;
  margin-top: 0.6em;
}

.register {
  display: flex;
  justify-content: space-between;
}

label{
  font-size: 2em;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  padding: 1.6em 0em 0em 2em;
}

.input-reg{
  border: none;
  appearance: none;
  width: 60%;
  margin: 1em 2em 0.7em 1em;
  font-size: 2em;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  border-bottom: 1px solid white;
  padding-top: 0.4em;
}

.input-reg:focus {
  outline: none;
  appearance: none;
}

.button-reg{
  width: 50%;
  margin: 2.4em 0 1.6em 3.7em;
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  background-color: #1500ff;
  border-radius: 0.2em;
}

.button-reg:hover{
  background-color: #dafc1c;
  color: black;
}

.hey{
  font-family: ‘Montserrat’, sans-serif;
  margin: -2.5rem 1rem;
  font-size: 15em;
  color: #dafc1c;
}

.letter{
  margin: -5rem 0em;
}

h2 {
    font-family: ‘Montserrat’, sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
}

nav {
  margin-left: 7%;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-right: 7%;
  display: flex;
  border-bottom: 1px solid #DCDCDC;
}

.links {
  margin-left: 50%;
  margin-top: 2%;
}

a {
  text-decoration: none;
  color: #DCDCDC;
  font-family: 'open sans';
}

a:hover, .logout:hover {
  color: grey;
}

.jobsLink {
padding: 50px;
}

.logout {
  border: none;
  appearance: none;
  font-family: 'open sans';
  margin-left: 35px;
  font-size: 16px;
  color: #DCDCDC;
  background-color: #1500ff;
}

.input-login:focus{
  outline: none;
}


.userHeader{
  display: flex;
  margin-top: 5%;
}

.profileImg {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-left: 75%;
  margin-top: auto 0;
  border: 3px solid #dafc1c;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

p {
  display: block;
  font-size: 14px;
  font-family: 'open sans';
  margin-top: 35%;
  margin-left: 3%;
  text-align: center;
  color: #9f99ff;
}

.actlImg {
  border: 1px solid #DCDCDC;
  display: block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: -26%;
  display: none;
}

.userName {
margin-left: 28%;
margin-top: 12%;
margin-bottom: 0;
padding-bottom: 0;
font-size: 50px;
font-family: ‘Montserrat’, sans-serif;
text-transform: uppercase;
}

.userHeader {
  border-bottom: 1px solid white;
  width: 1100px;
  margin-left: 15%;
}

.menumnue{
display: flex;
margin-left: 43%;
margin-top: 20px;
}

.jobMenu{
  justify-content: space-around;
  border: none;
  appearance: none;
  font-size: 16px;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  border: 1px solid white;
  width: 250px;
  text-align: center;
  margin-top: 33%;
  padding: 5px;
  background: transparent !important;
  -webkit-appearance: none;
}

.jobTitle{
  font-family: 'Roboto';
  font-size: 32px;
  text-align: center;
  margin-top: 5%;
  color: white;
  font-weight: 100;
  padding: 0;
  margin-bottom: 0;
  /* margin-left: -2%; */
}

.editTitle{
  border: none;
  appearance: none;
  font-size: 16px;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  border: 1px solid white;
  border-radius: 15%;
  margin-top: 27px;
  margin-left: -2px;
}

.editTitle:hover {
  background-color: #DAFC1C;
  color:#1500ff;
}

.submitJob{
  border: none;
  appearance: none;
  font-size: 16px;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  /* border: 1px solid white; */
  border-radius: 15%;
  margin-top: 16%;
  margin-left: -150px;
  /* padding: 3px; */
  border-color: #1500ff;
  border: 1px solid white;
  border-radius: 15%;
  margin-bottom: 5%;
}

.submitJob:hover{
  background-color: #DAFC1C;
  color: #1500ff;
}

.jobTitle1{
  text-align: center;
  font-size: 32px;
  margin-top: 6%;
  color: #DAFC1C;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 50px;
}
.bio {
  /* display: flex; */
}

.bioArea {
  justify-content: center;
  margin-top: 5%;
  background-color: #1500ff;
  color: white;
  resize: none;
  width: 400px;
  height: 600px;
  align-content: center;
  font-size: 18px;
  margin-left: 17%;
  border: 1px solid #DCDCDC;
}

.bioArea::placeholder{
  color: #DCDCDC;
  font-size: 16px;
  padding: 10px;
}

.submitBio{
  border: none;
  appearance: none;
  font-size: 16px;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  border: 1px solid white;
  border-radius: 15%;
  margin-left: 17%;
  margin-top: 15px;
}

.totalBio{
  margin-left: 30%;
  margin-top: 8%;
  width: 800px;
  height: 200px;
  border: 1px solid #DCDCDC;
}

.existBio{
  justify-content: center;
  margin-top: 5%;
  background-color: #1500ff;
  color: white;
  resize: none;
  width: 400px;
  height: 600px;
  align-content: center;
  font-size: 18px;
  padding: 2px;
  color: #DCDCDC;
  margin-left: 19%;
  border-right: 1px solid #dafc1c;
  background-color: #261bf7;
}

.editBio {
  border: none;
  appearance: none;
  font-size: 16px;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  border: 1px solid white;
  border-radius: 15%;
  margin-left: 17%;
  margin-top: 15px;
}

.app-profile-container {
  display: flex;
  justify-content:space-around;
  margin-top: 25px;
}

.app-profile-container p {
  margin: 20px;
}

.app-profile-container textarea {
  margin-left:50px;
}

.app-profile-inner-container {
  display:flex;
  align-items:space-around;
  flex-direction: column;
  margin-left:150px;
  margin-top:-25px;
}

.app-profile-container embed {
  height: 441px;
  margin-right: 150px;
}

.app-profile-bio {
  margin-top:15px;
  margin-bottom:7%;
  width: 50%;
  text-align: center;
  margin-left:50px;
}
h5 {
  text-align:center
}

.app-profile-button {
    width: 25%;
    margin: 1.5em 0 0.7em 0em;
    font-size: 1em;
    color: white;
    border: 1px solid white;
    background-color: #1500ff;
    border-radius: 0.2em;
    margin-right:1.1em;
    margin-left:.1em
  }

.app-profile-button-container {
  padding-left:8%;
}

.app-profile-button:hover {
   background-color: #dafc1c;
  color: black;
}

.job-page{
  display: flex;
  flex-direction: column;
}

.jobshow-block{
  display: flex;
}

.search-page{
  display: flex;
  border: 1px solid white;
  height: 5em;
}

.search-filters{
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-left:2em;
}

.button-filters{
  display: flex;
  flex-direction: column;
  margin-right: 3em;
  width: 20%;
  justify-content: center;
}

.select-filters{
  width: 100%;
  margin: 0em 0.2em;
  height: 60%;
  align-self: center;
  font-family: ‘Open Sans’, sans-serif;
  font-size: 16px;
  background-color: #1500ff;
  border: 1px solid white;
  color: white;
}

.select-filters:hover{
  background-color: #dafc1c;
  color: black;
}

.salary-filter{
  border: none;
  appearance: none;
  width: 100%;
  margin: 0em 0.5em 0em 0.2em;
  height: 55%;
  align-self: center;
  font-family: ‘Open Sans’, sans-serif;
  font-size: 16px;
  background-color: #1500ff;
  border: 1px solid white;
  color: white;
  border-radius: 0.3em;
}

.click-filters {
  margin: 0.2em 0em;
  height: 2em;
  border-radius: 0.2em;
  color: #1500ff;
}

.click-filters:hover, .salary-filter:hover{
  background-color: #dafc1c;
  color: black;
}

.salary-filter:hover::placeholder{
  color: black;
}

.salary-filter:focus{
  background-color: #dafc1c;
  color: black;
}

.jobs-list{
  border-right: 1px solid white;
  width: 30%
}

.jobs-or-company{
  width: 70%;
  position: sticky;
  top: 5px;
  height: 0;
}

.job-results{
  border-bottom: 1px solid white;
  height:100%;
  height: 8em;
  padding: 2em 2em;
}

.job-results:hover{
  background-color: #dafc1c;
  color: black;
}
.app-profile-textarea::placeholder {
  color: #DCDCDC;
}

.app-sent-container {
  text-align: center;
  margin-top: 12%;
  font-size: 2.5em;
  font-weight: 100;
}

.noth5{
  margin: 0px auto;
  font-family: ‘Montserrat’, sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

.noth6{
  margin: 0px auto;
  font-family: ‘Roboto’, sans-serif;
  font-size: 1.4em;
  margin-top: 0.3em;
}

h2{
  margin: 0px auto;
  font-family: ‘Montserrat’, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

h3{
  margin-top: 0.4em;
  font-family: ‘Montserrat’, sans-serif;
  font-size: 2.7em;
  text-decoration: underline;
}

.job-header{
  margin: 3em 0em 0em 3.4em;
}

.blurb{
  text-align: right;
  margin-right: 2.5em;
  font-family: ‘Roboto’, sans-serif;
  font-size: 2em;
}

.job-description{
  font-family: ‘Roboto’, sans-serif;
  font-size: 1.2em;
  margin: 1em 3.4em;
  text-align: justify;
}

.job-buttons {
  width: 50%;
  margin: 0.5em;
  font-size: 1.5em;
  color: #1500ff;
  border: 1px solid white;
  background-color: white;
  border-radius: 0.2em;
}

.job-buttons:hover{
  background-color: #dafc1c;
  color: black;
}

.alljob-buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 3.4em;
}

.pdf{
  margin-left: 30%;
  margin-top: -3%;
}

.uploadCv {
  border: none;
  appearance: none;
  background-color: #1500ff;
  border-color: #1500ff;
}

.embedCV {
  margin-top: -60%;
  margin-left: 43%;
  border: 2px solid #dafc1c;
}

input {
  width: 50%;
  padding-left: 10px;
  font-size: 18px;
  color: #DCDCDC;
  background-color: transparent !important;
  margin-left: 52%;
  margin-top: 2%;
  max-width: 250px;
  margin-bottom: 5%;
}

.deleteUser {
  border: none;
  appearance: none;
  width: 50%;
  font-size: 14px;
  color: white;
  font-family: ‘Open Sans’, sans-serif;
  background-color: #1500ff;
  border-color: #1500ff;
  margin-left: 64%;
  color: #DCDCDC;
}

.deleteUser:hover {
  background-color: #FF0000;
  color: white;
  width: 160px;
  margin-left: 84%;
}
